.bar
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.bar::-webkit-progress-bar
{
    background-color: var(--text-color);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 99999px;
    padding: 1px;
}
.bar::-webkit-progress-value
{
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   var(--gradient);
    border-radius: 99999px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.text
{
    color: var(--text-color);
}
.earth
{
    font-size: 10vmin;
    background-image: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    animation: earth-rotation 2s linear infinite;
}
@keyframes earth-rotation
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}